<h1>Blocipedia</h1>
<p>SaaS Collaboration Wiki made as an Independent Project - Brandon Wieber</p>

<% content_for :analytic do %>
  <script type="text/javascript"> $(document).ready(function(){ blocmetrics.report("About Page Visit"); }); </script>
<% end %>
