<br>

<div class="heading">
  <h1> Blocipedia: Social Markdown Enabled Wikis </h1>

  <div class="box">
    <h3> Create and Share Markdown Wikis </h3>
    <p>
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %>
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h4> Create as many public wikis as you want! </h4>
    <%= link_to "Free Plan", new_user_path, class: 'btn btn-info' %>
  </div>

  <div class="col-md-4">
    <h2>  </h2>
    <p>  </p>
  </div>

  <div class="col-md-4">
    <h4> Create Private Wikis! </h4>
    <%= link_to "Premium Plan", new_charge_path, class: 'btn btn-info' %>
  </div>
</div>
